AUTH_SERVICE_PORT=8001
APP_NAME=NoteFlow Auth Service
APP_VERSION=0.1.0
DEBUG=false

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=noteflow
DATABASE_USER=noteflow_user
DATABASE_PASSWORD=noteflow_pass

JWT_SECRET_KEY=change_this_to_a_long_random_secret_key_32_chars_min
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
